@import "../pages";

#options {
    .options {
        display: flex;
        flex-direction: column;

        .option {
            font-size: 1em;
            padding: 5px 10px;
            display: flex;
            flex-direction: row;
            align-items: center;
            border-bottom: 1px inset var(--border);

            &.has-sub-options {
                flex-direction: column;
                align-items: unset;
            }

            &:nth-child(even) {
                background: var(--light-accent2);
            }

            &:last-child {
                border: none;
            }

            .option-row {
                display: flex;
                flex-direction: row;
                align-items: center;
            }

            .option-info {
                flex-grow: 1;
                align-self: flex-start;

                .name {
                    font-weight: bold;
                    font-size: 1.25em;
                }

                .description {
                    margin-left: 10px;
                }

                .note {
                    font-size: 0.9em;
                    margin-left: 20px;
                }

                .action {
                    margin-left: 10px;

                    button {
                        margin-left: 10px;
                    }
                }
            }

            .selector {
                margin-left: auto;

                input,
                select,
                button {
                    font-size: 1em;
                }

                textarea {
                    height: 150px;
                    width: 300px;
                    min-height: 150px;
                    min-width: 300px;
                    resize: vertical;
                }
            }

            .sub-options {
                display: none;
                margin-left: 20px;

                &.visible {
                    display: block;
                }
            }
        }
    }

    .pages {
        text-align: center;
        font-size: 1.25em;
        font-weight: bold;
        padding: 10px;
        margin-bottom: 5px;
        background: var(--light-accent2);
        border-bottom: 1px inset var(--border);

        .nav-link {
            display: inline;
            padding: 5px;
            border-radius: 10px;
            width: auto;
            background: var(--light-accent);

            &:hover {
                cursor: pointer;
                text-decoration: underline;
            }
        }
    }

    footer {
        font-size: 10px;
        padding-bottom: 10px;

        .clear-section {
            font-size: 12px;

            button {
                font-size: 1em;
            }

            .save {
                font-size: 15px;
                margin-left: auto;
            }
        }
    }
}

.theme-dark {
    #options {
        .pages {
            background: var(--dark-accent);

            .nav-link {
                background: var(--dark-accent2);
            }
        }

        .options {
            .option {
                &:nth-child(even) {
                    background: var(--dark-accent);
                }
            }
        }
    }
}
