// always show sticky box
#chat-sticky-rants {
    display: block !important;
}

.media-page-related-media-desktop-sidebar .rs-display-chat-button-div,
.rs-display-chat-button-div {
    margin-bottom: 10px;

    .rs-display-chat-button {
        margin-left: 1rem;
        margin-right: 1rem;
        padding: 0.75rem 0;

        font-weight: bold;
        font-size: 1.2em;

        svg {
            height: 25px;
            width: 25px;
            margin-left: 10px;
            margin-right: 10px;
            vertical-align: middle;
            fill: var(--light-fg);
        }

        &.theme-dark {
            svg {
                fill: var(--dark-fg);
            }
        }
    }
}

// override due to new button in row
.media-page-chat-aside-chat .chat--header h1,
.media-page-chat-theater-wrapper .chat--header h1 {
    margin-left: 30% !important;
}

.rs-display-chat-button {
    cursor: pointer;
    background: #d0021b !important;

    &:hover {
        text-decoration: underline;
    }

    &.disabled {
        cursor: not-allowed;
    }
}

// change style of chat
#chat-history-list {
    .chat-history--row {
        padding: 2px 0.75rem;
        margin-left: 0;
        margin-right: 0;
    }

    &.theme-light {
        .chat-history--row {
            &.chat-history--subscribed {
                background-image: linear-gradient(to right, var(--light-subscribed), var(--light-accent));
            }
        }

        &.alternate-colors {
            .chat-history--row {
                &:nth-child(odd) {
                    background-color: var(--light-accent2);

                    &.chat-history--subscribed {
                        background-image: linear-gradient(to right, var(--light-subscribed), var(--light-accent2));
                    }
                }
            }
        }
    }

    &.theme-dark {
        .chat-history--row {
            &.chat-history--subscribed {
                background-image: linear-gradient(to right, var(--dark-subscribed), var(--dark-accent));
            }
        }

        &.alternate-colors {
            .chat-history--row {
                &:nth-child(odd) {
                    background-color: var(--dark-accent2);

                    &.chat-history--subscribed {
                        background-image: linear-gradient(to right, var(--dark-subscribed), var(--dark-accent2));
                    }
                }
            }
        }
    }
}
