:root {
    --light-bg: rgb(243, 243, 247);
    --light-fg: rgb(51, 51, 51);
    --light-accent: rgb(255, 255, 255);
    --light-accent2: rgb(255, 255, 255);
    --border: #CCCCCC;

    --dark-bg: rgb(16, 33, 47);
    --dark-fg: rgb(214, 224, 234);
    --dark-accent: rgb(6, 23, 38);
    --dark-accent2: rgb(26, 42, 55);

    --heading-font: "sans-serif";
    --data-font: "sans-serif";
}

#rs-chats {
    * {
        font-family: var(--data-font);
        box-sizing: border-box;
    }

    header, footer {
        background: var(--light-accent);
    }

    h1, h2, h3, h4, h5, h6 {
        font-family: var(--heading-font);
    }

    h1, h2, h3, h4, h5, h6,
    p, span, label {
        color: var(--light-fg);
    }

    &.theme-dark {

        header, footer {
            background: var(--dark-accent);
        }

        h1, h2, h3, h4, h5, h6,
        p, span, label {
            color: var(--dark-fg);
        }
    }
}

.error-header {
    font-size: 1.75em !important;
    line-height: 1.25 !important;
    margin: 0 !important;
}
